* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #fff;
  color: #111;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  border-bottom: 1px solid #eee;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: #111;
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.hero p {
  color: #666;
  margin-bottom: 20px;
}

.btn {
  padding: 10px 20px;
  background: black;
  color: white;
  text-decoration: none;
}

/* FEATURES */
.features {
  display: flex;
  justify-content: space-around;
  padding: 60px 40px;
}

.features div {
  max-width: 250px;
  text-align: center;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  color: #777;
}

/* RESPONSIVE */
@media(max-width: 768px) {
  .features {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}